.GlavniKontejner{
    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.kontForma{
    
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
}
table,tr,th,td{
    
    border: 1px solid black;
    font-size: 32px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
 .PrikazBroja{
    display: flex;
    background-color: darkred;
    color: darkslateblue;
    font-size: 8cm;
    width: 8cm;
    height: 8cm;
    flex-shrink: 1;
    justify-content:center;
    align-items:center;
    
}
.dugme_za_Broj_Diskova{
    display: flex;
    flex-direction: column;
    height: 1cm;
    width: 5cm;
    justify-content: center;
    align-items: center;
}